body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container,
.success-container {
  background: white;
  border-radius: 15px;
  padding: 30px 20px;
  width: 350px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.hidden {
  display: none;
}

.button {
  background: #4caf50;
  border: none;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.button:hover {
  background: #45a049;
}

.create-button {
  background: #ff4d4d;
  color: white;
  font-size: 1.2rem;
}

.create-button:hover {
  background: #e03e3e;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align-last: center; /* Center the text */
}

.dropdown:focus {
  border-color: #4caf50;
}

.success-container p {
  font-size: 1.2rem;
  color: #4caf50;
  margin-bottom: 20px;
}

.success-container .button {
  background: #4caf50;
}

.success-container .button:hover {
  background: #45a049;
}

input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  text-align: right;
}

input:focus {
  border-color: #4caf50;
  outline: none;
}
